
.image{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.image h5{
    font-size: 35px;
    font-weight: 600;
}
.navbarbg{
    background-color: aqua;
    color: #000;
}
ul{
    font-size: 20px;
    font-weight: 600;
    
}
.navbar-nav{
    background-color:#fff;
    margin-left: 250px;
    border-radius: 5px;
    
}
.justify{
   
    display: flex;
    justify-content: space-between;
}
.content{
   top: 10%;
   left:18%
}
.imgfluid{
    width: 100%;
    object-fit: cover;
    height: 100vh;
}
h2{
    font-size: 35px;
    font-weight: 800;
    text-transform: uppercase;
    color: #fff;
}
.btn{
margin: 10px;
}
@media (max:600px){
    .nav-link{
        margin-left: -50px;
        border:2px solid red;
        background-color: aqua;
    }
}